
.divcontent{
    color:aqua;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin:1px;

}
/*
div.container div.divcontent .boton{
    border-radius: 2%;
}*/

.boton.titulo{
    background-color: red;
}

.blanco{
    background-color: aqua;
    border: 1px solid black;
    margin:0px;

}
.negro{
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 0px;
}

.divcontent {
    width: 100%; /* Otra opción podría ser especificar un valor en píxeles, por ejemplo, width: 800px; */
    margin: auto; /* Para centrar el contenedor si se utiliza un ancho máximo */
}

